@import "reveal.js/css/reset.css";
@import "reveal.js/css/reveal.css";
@import "reveal.js/css/theme/blood.css";
@import "highlight.js/styles/ir-black.css";

.reveal {
    .x-space-top {
        margin-top: 1em;
    }

    pre {
        white-space: pre-line;
    }

    code.inline {
        color: #f8f8f8;
    }

    .link {
        color: #96cbfe;
    }

    h1 {
        font-size: 3em;
    }
}
